<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MifareOneTool.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MifareOneTool.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <MifareOneTool.Properties.Settings>
            <setting name="GitHubR" serializeAs="String">
                <value>xcicode/MifareOneTool</value>
            </setting>
        </MifareOneTool.Properties.Settings>
    </applicationSettings>
    <userSettings>
        <MifareOneTool.Properties.Settings>
            <setting name="AutoABN" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="WriteCheck" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AutoLoadUidKey" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MainCLIColor" serializeAs="String">
                <value>192, 255, 255</value>
            </setting>
            <setting name="MainCLIFontSize" serializeAs="String">
                <value>9</value>
            </setting>
            <setting name="DefIsAdv" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AutoSave" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="HardLowCost" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LastTryKey" serializeAs="String">
                <value>ffffffffffff</value>
            </setting>
            <setting name="NewScan" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MultiMode" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CuidKeyOver" serializeAs="String">
                <value>True</value>
            </setting>
        </MifareOneTool.Properties.Settings>
    </userSettings>
</configuration>